body {
  background-color: $light-gray;
  color: $medium-gray;
}

.delete-me {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  height: 100vh;

  .container {
    text-align: center;
    .fa {
      font-size: 4em;
    }

    h1 {
      font-weight: 400;
      font-size: 2em;
      margin-bottom: 10px;
    }
    ul {
      text-align: left;
      li {
        font-size: 1em;
      }
      ul li {
        margin-left: 1em;
        font-size: 0.9em;
      }
    }
  }
}
