extends ./partials/_default

append vars
  - var title = "Proteus &mdash; Jade"
  - var lodashtest = [1, 2, 3, 3, 1, 1]

append css
  //- page specific css file links

append scripts
  //- page specific javascript file links

block content
  .delete-me
    .container
      .fa.fa-sign-language
      :markdown-it
        # !{title}
        
        ## You're all set!
        
        [Let's get started building your prototype.](href='http://github.com/dpfranklin/proteus-node') 

      ul
        li Lodash available in Jade/Pug templates.
          ul
            li Test array: [ #{lodashtest} ]
            li Lodash uniq function result: #{_.uniq(lodashtest)}
        li Coffeescript and markdown filters
        li Font-awesome Icons

      script
        :coffee-script
          console.log 'Coffeescript filter functional'




