doctype html
html
  block vars
    - var baseurl = locals.url
    - var _ = locals._

  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
      meta(content='width=device-width, initial-scale=1', name='viewport')
      block title
        title  !{ title }

      block css
        link(href='assets/stylesheets/application.css', rel='stylesheet', type='text/css')

  body

    block content

    block scripts
      script(src='https://code.jquery.com/jquery-2.1.1.min.js', type='text/javascript')
      script(src='assets/javascripts/application.js', type='text/javascript')

